* {
    margin: 0;
    padding: 0;
  }

:root{
    scroll-behavior: smooth;
    
    --gray1: #333333;
    --gray2: #4F4F4F;
    --gray3: #828282;
    --gray4: #BDBDBD;
    --gray6: #F2F2F2;
    --accent: #2D9CDB;
    --accent-g: #27AE60;
    --accent-r: #EB5757;
    --accent-y: #F2C94C;
    --bg-footer: #100E1D;
}
body{
    width: 100% !important;
    scroll-margin: none;
}
header{
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
}
.header-title{
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    margin: 0;
    margin-top: -.5rem;
    margin-left: 2rem;
}
.header-link{
    text-decoration: none;
    color: var(--gray1);
    font-weight: 500;
    font-size: 1.25rem;
    margin: 1rem;
}
.header-link-home{
    margin-left: auto;
}


.top{
    padding-left: 14rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 6rem;
}
.question{
    font-weight: 500;
    font-size: 1rem;
    color: var(--accent);
}
.big-title{
    font-weight: 500;
    font-size: 3rem;
    max-width: 35rem;
    color: var(--gray1);
    margin-top: 2rem;
}
.hero-img{
    width: 100%;
    margin-left: -7rem;
    border-radius: 20px;
    margin-top: 2rem;
}

.story{
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
    padding-left: 14rem;
}
.story > .big-title{
    max-width: 25rem;
}
.story-p{
    font-weight: 400;
    font-size: 1rem;
    color: var(--gray2);
    max-width: 20rem;
    margin-top: 2rem;
}

.contact-question{
    font-weight: 500;
    font-size: .9rem;
    color: var(--gray3);
    margin-top: 2rem;
}
.inp-email{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding: 1rem;
    border-radius: .75rem;
    border: none;
    background-color: var(--gray6);
    color: var(--gray1);
    margin-top: .75rem;
}
.inp-email:focus{
    outline: none;
}
.inp-email::placeholder{
    color: var(--gray4);
}
.join-btn{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: .75rem;
    background: var(--accent);
    color: var(--gray6);
    cursor: pointer;
}

.services{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 0 10rem;
    margin-top: 10rem;
}
.title{
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--gray1);
    max-width: 17rem;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.card{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 18%;
    padding: 4rem 2rem;
    margin: 0 3rem;
    background: transparent;
    border-radius: 1.5rem;
}
.card-middle{
    box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
}
.card > span{
    padding: 1rem;
    color: white;
    border-radius: 1rem;
}
#icon-design{
    background: var(--accent);
}
#icon-code{
    background: var(--accent-g);
}
#icon-storage{
    background: var(--accent-r);
}
.card-title{
    margin-top: 2rem;
    font-weight: 700;
    font-size: 1.5rem;
}
.card-p{
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1rem;
}
.card-btn{
    margin-top: 1.5rem;
    padding: .75rem 1rem;
    background: #E0E0E0;
    color: var(--gray3);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border:none;
    border-radius: 1rem;
    transition: ease-in-out 100ms;
}
.card-btn-middle{
    background: var(--accent);
    color: white;
}
.card-btn:hover{
    padding: .75rem 1.5rem;
    cursor: pointer;
}
.card-btn:active{
    background-color: white;
}


.designs-section{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 10rem;
    padding: 0 15rem;
}
.designs{
    display: grid;
    grid-template:  "a b" 45%
                    "c d" 45% / 1fr 1fr;
    gap: 4rem 2rem;
}
.title-design{
    max-width: 20rem;
}
.design > img{
    width: 100%;
    border-radius: 1rem;
}
.design-category{
    font-weight: 300;
    font-size: .8rem;
    color: var(--gray3);
    margin-top: .5rem;
}
.design-title{
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--gray1);
}

.a, .c{
    margin-top: 12rem;
}
.see-more{
    color: var(--accent);
    text-decoration: none;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: min-content;
    min-width: 7rem;
    margin-left: auto;
    margin-top: -5rem;
}

.team{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 10rem;
    padding: 0 15rem;
}
.team-text{
    margin-right: auto;
}
.meet{
    color: var(--accent-r);
    font-weight: 500;
}
.team-title{
    font-weight: 500;
    font-size: 2rem;
    color: var(--gray1);
    max-width: 16rem;
    margin-top: 1rem;
}
.team-p{
    color: var(--gray2);
    font-weight: 400;
    font-size: .8rem;
    max-width: 14rem;
    margin-top: 1rem;
}
.pics{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pics-left{
    margin-right: 1.5rem;
}
.pics-right{
    display: grid;
    grid-template: "a" "b" 50% 50% /1fr 1fr;
    gap: 1.5rem;
}
.pic{
    border-radius: 10%;
}

.comments{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2rem;

    margin-top: 10rem;
    padding: 0 15rem;
}
.comments-title{
    color: var(--gray1);
    font-weight: 500;
    font-size: 2rem;
    max-width: 50rem;
}
.commenter{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.commenter > img{
    width: 6rem;
    border-radius: .75rem;
}
.commenter-info{
    margin-left: 1rem;
}
.commenter-name{
    margin: .5rem 0rem;
    font-size: 1.25rem;
    color: var(--gray1);
}
.commenter-company{
    margin: 0;
    font-size: 1rem;
    color: var(--gray3);
}
footer{
    font-family: 'Poppins', sans-serif;
    margin-top: 15rem;
    background: var(--bg-footer);
    padding: 5rem 5rem;
    display: flex;
    justify-content: space-evenly;
    gap: 15rem;
    color: white;
}
.footer-links{
    font-weight: 400;
    font-size: .85rem;
}
.link-list::-moz-list-bullet{
    display: none;
}
.link-list{
    list-style: none;
}
.link-list > li{
    margin-bottom: .5rem;
}
li > a{
    color: white;
    text-decoration: none;
}
.footer-contacts > img{
    cursor: pointer;
}
.footer-contacts-edie{
    font-family: 'Heebo', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 1rem;
}
.contact-question-footer{
    margin:0;
}


.hamburger{
    border: none;
    background: transparent;
    font-size: 1rem;
    margin: 0;
    margin-right: 1rem;
    padding: 1rem;
    position: fixed;
    right: 0;
    top: 1rem;
 }
.ham-menu{
    position: fixed;
    top: 0;
    right: -20rem;
    background: rgba(3, 71, 100, 0.95);
    background: var(--accent);
    opacity: .9;
    padding: 3rem;
    font-size: 1.25rem;
    text-align: center;
    transition: ease-in-out 100ms;
}
.ham-close{
    border:none;
    background: transparent;
    color: white;
    font-size: 0.5rem;
    margin: 0;
    position: relative;
    top: -1.75rem;
    right: -4rem;
    margin: 0;
    padding: .5rem;
    opacity: 1;
} 

@media screen and (max-width: 900px) {
    header > nav{
        display: none;
    }
    .top{
        margin-top: 2rem;
        padding: 0 4rem;
        width: 70%;
    }
    .question{
        margin: 0;
    }
    .big-title{
        font-size: 2.5rem;
        max-width: none;
        margin: 0;
    }
    .hero-img{
        margin: 0;
        margin-top: 1rem;
        width: 100%;
    }
    .story{
        padding: 0 4rem;
    }
    .story-p{
        font-size: 1.3rem;
    }
    .inp-email{
        width: 60%;
    }

    .services{
        padding: 0;
    }
    .title-services{
        padding-left: 4rem;
    }
    .cards{
        display: block;
        width: 65%;
    }.card{
        width: 100%;
    }

    .designs-section{
        padding: 0 4rem;
    }
    .designs{
        display: block;
    }
    .a, .c{
        margin: 0;
    }
    .design{
        margin-top: 4rem;
        width: 100%;
    }
    .see-more{
        margin: 0;
        margin-left: auto;
    }

    .team{
        display: block;
        padding: 0 4rem;
        margin-top: 5rem;
    }
    .meet{
        font-size: 1.5rem;
    }
    .team-title{
        font-size: 2.5rem;
        max-width: 27rem;
    }
    .team-p{
        font-size: 1.5rem;
        max-width: 25rem;
    }
    .pics{
        margin-top: 2rem;
    }
    .pics-left > img, .pics-right > img{
        width: 110%;
    }
    
    .comments{
        padding: 0 4rem;
    }
    .comments-title{
        font-size: 2rem;
    }
    .commenter > img{
        width: 8rem;
        margin-right: 1.5rem;
    }
    .commenter-name{
        font-size: 1.5rem;
    }
    .commenter-company{
        font-size: 1.25;
    }

    footer{
        display: block;
    }
    
    .footer-links{
        font-size: 1.25rem;
        margin-bottom: 4rem;
    }
    .footer-contacts-edie{
        font-size: 3rem;
    }
    .footer-contacts{
        margin-bottom: 4rem;
    }
    .footer-contacts > img{
        width: 2rem;
        margin-right: .25rem;
    }
}

@media screen and (min-width: 900px) {
    .hamburger{
        display: none;
    }
}