@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: local('Poppins'), url(./fonts/Poppins-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: local('Poppins'), url(./fonts/Poppins-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: local('Poppins'), url(./fonts/Poppins-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: local('Poppins'), url(./fonts/Poppins-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: local('Poppins'), url(./fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
}

:root{
  /* variables */
  --bg-card: white;
  --text-dark: rgba(96, 102, 208, 0.8);
  --text-darker: #2F527B;
  --text-lighter: white;
  --text-light: #F2F2F2;
  --correct: #60BF88;
  --wrong: #EA8282;
  --accent: #F9A826;
  
  
  
  height: 100%;
  background-image: url("./background.png");
  background-size: 100%;
}

.App{
  font-family: 'Poppins';
  font-weight: 500;
  color: white;
  height: 100%;
  padding: 9em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}