@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(./fonts/Raleway-VariableFont_wght.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: local('Raleway'), url(./fonts/Montserrat-VariableFont_wght.ttf) format('truetype');
}


.App{
  font-family: 'Raleway';
  font-weight: 500;
}