.experience{
    grid-column: 6 / span 5;
    grid-row: 3;
    background: white;
    border-radius: 1.5rem;
    padding: 2rem;
    grid-row: 3 / 4;
}
.experiences-title{
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--gray2);
}

.experience-single{
    margin: 1rem auto;
    display: flex;
}
.experience-logo{
    width: 30%;
    border-radius: .8rem;
    margin-right: 2rem;
}
.experience-date{
    font-weight: 500;
    font-size: .8rem;
    color: var(--gray2);
}
.experience-position{
    font-weight: 600;
    font-size: 1rem;
    color: var(--gray1);
}
.experience-explanation{
    font-weight: 500;
    font-size: 1rem;
    color: var(--gray2);
    padding-right: 2rem;
    height: min-content;
}
.experience-single{
    margin-top: 3rem;
}
@media screen and (max-width: 1350px) {
    .experience{
        grid-column: 7 /span 5;
    }
}

@media screen and (max-width: 1000px) {
    .experience{
        width: calc(95% - 4em);
        margin: 2em auto;
        padding: 2em;
    }
}