.project-card{
    background: white;
    width: 26%;
    padding: 2rem;
    border-radius: 1rem;
    margin: 0;
    margin-bottom: 6rem;
}
.project-img{
    width: 100%;
}
.project-tags{
    display: flex;
    margin-top: 1rem;
}
.project-tag{
    margin-right: .75rem;
    font-weight: 500;
    font-size: .85rem;
    color: var(--gray2);
}
.project-title{
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--gray1);
    margin-top: .75rem;
}
.project-explanation{
    font-weight: 500;
    font-size: 1rem;
    color: var(--gray3);
    margin-top: 1.35rem;
}
.project-buttons{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.project-btn{
    border-radius: 1rem;
    border: solid 2px var(--accent);
    padding: 3.75% 14.75%;

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: white;
    background: var(--accent);
    cursor: pointer;
    transition: ease-in-out 100ms;
}
.clear-btn{
    background: white;
    border-color: var(--accent);
    color: var(--accent);
}
.project-btn:hover{
    padding: 3.75% 19.75%;
}
