.skills{
    margin-right: 2rem;
    grid-column: 2 / span 1;
}
.skills-card{
    background: white;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
}
.skills-title{
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--gray2);
}