@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: local('Montserrat'), url(./fonts/Montserrat.ttf) format('truetype');
}

:root{
  --bg-light: #F2F2F2;
  --gray2: #4F4F4F;
  --gray3: #828282;
  --gray4: #C4C4C4;
  --accent: #2F80ED;

  
  background: var(--bg-light);
}
.App {
  font-family: "Montserrat";
  
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr 1fr 10%;
  gap: 5rem;
}
